<div class="main-content ">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            directions_car
          </i>
          <p>{{ 'HOME.#OfInActiveUsers' | translate }} {{inActiveUsers?.length}}</p>
        </mat-card>
      </div>
     
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            how_to_reg
          </i>
          <p>{{ 'HOME.#OfUsers' | translate }}{{totalusers}}</p>
        </mat-card>
      </div>
      <div class="col text-center">
        <mat-card>
          <i class="material-icons lg">
            report
          </i>
          <p>{{ 'HOME.#OfReports' | translate }} {{totalReports}}</p>
        </mat-card>
      </div>
    </div>
    <br />
    <br />
    <br />
   
    <div class="row">
      
      <mat-tab-group class="w-100">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
            {{ 'HOME.InActiveUsers' | translate }}
          </ng-template>
          <mat-card>
            <div>
            
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'HOME.id' | translate }} </th>
                    <th>{{ 'HOME.Username' | translate }} </th>
                    <th>{{ 'HOME.FullName' | translate }} </th>
                    <th>{{ 'HOME.Email' | translate }} </th>
                    <th>{{ 'HOME.userTypeId' | translate }} </th>
                    <th>{{ 'HOME.MobileNumber' | translate }} </th>
                    <th>{{ 'HOME.attatchment' | translate }} </th>
                    <th>{{ 'HOME.state' | translate }} </th>
                    <th>{{ 'HOME.action' | translate }} </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of inActiveUsers">
                    <td>{{user.id}}</td>
                    <td><a [routerLink]="['/profile',user.id ]">{{user.username}}</a></td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userTypeId}}</td>
                    <td>{{user.mobileNumber}}</td>
                    
                    <td><a href="fileUrl" download="{{user.attachment}}" mat-raised-button color="primary"><i class="material-icons lg">arrow_downward</i>{{user.attachment}}</a></td>
                    <td>{{userState(user.state,user.userTypeId)}}</td>
                    <td><button mat-fab (click)="activateUser(user.id,user.username)" color="primary"><i class="material-icons lg">done</i></button></td>
                  </tr>
                </tbody>
              </table>
             
            </div>

          </mat-card>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
            {{ 'HOME.AllUsers' | translate }}
          </ng-template>
          
          <mat-card>
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'HOME.id' | translate }} </th>
                  <th>{{ 'HOME.Username' | translate }} </th>
                  <th>{{ 'HOME.FullName' | translate }} </th>
                  <th>{{ 'HOME.Email' | translate }} </th>
                  <th>{{ 'HOME.userTypeId' | translate }} </th>
                  <th>{{ 'HOME.MobileNumber' | translate }} </th>
                  <th>{{ 'HOME.state' | translate }} </th>
                  <th>{{ 'HOME.action' | translate }} </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of allUsers">
                  <td>{{user.id}}</td>
                  <td><a [routerLink]="['/profile',user.id ]">{{user.username}}</a></td>
                  <td>{{user.fullName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.userTypeId}}</td>
                  <td>{{user.mobileNumber}}</td>
                  <td>{{userState(user.state,user.userTypeId)}}</td>
                  <td *ngIf="user.status==1"><button (click)="blockUser(user.id,user.username)" mat-fab color="warn"><i class="material-icons lg">block</i></button></td>
                  <td *ngIf="user.status==3"><button (click)="activateUser(user.id,user.username)" mat-fab color="primary"><i class="material-icons lg">done</i></button></td>

                </tr>
              </tbody>
            </table>

          </mat-card>
          
        </mat-tab>

        <mat-tab>

          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">report</mat-icon>
            {{ 'HOME.Reports' | translate }}
          </ng-template>


          <mat-card>
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'HOME.id' | translate }} </th>
                  <th>{{ 'HOME.UserId' | translate }} </th>
                  <th>{{ 'HOME.ReportedUser' | translate }} </th>
                  <th>{{ 'HOME.ReportType' | translate }} </th>
                  <th>{{ 'HOME.Note' | translate }} </th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let report of allReports">
                  <td>{{report.id}}</td>
                  <td><a [routerLink]="['/profile',report.user.id ]">{{report?.user?.username}}</a></td>
                  <td><a [routerLink]="['/profile',report.reportedUserNavigation.id ]">{{report?.reportedUserNavigation?.username}}</a></td>
                  <td>{{report.reportType}}</td>
                  <td>{{report.note}}</td>
                 
                </tr>
              </tbody>
            </table>

          </mat-card>
        </mat-tab>
      
      </mat-tab-group>
       
    </div>
  </div>
</div>
