<form [formGroup]="EditProfileForm">
<div class="container w-100">

  <mat-card-header>
    <h4 class="card-title">{{ 'HOME.editprofileinfo' | translate }}</h4>
  </mat-card-header>


  <div class="row">
    <mat-form-field class="m-2">
      <input matInput placeholder="{{ 'HOME.FullName' | translate }}" formControlName="fullName" [value]="user.fullName">
    </mat-form-field>
    <mat-form-field class="m-2 w-100">
      <input matInput placeholder="{{ 'HOME.MobileNumber' | translate }}" formControlName="mobileNumber" [value]="user.mobileNumber">
      <mat-error>
        {{ 'HOME.MobileNumberrequired' | translate }}
      </mat-error>
    </mat-form-field>


  </div>

  <div class="row" *ngIf="user.userTypeId!=1">
    <mat-form-field>
      <mat-select placeholder="{{ 'HOME.state' | translate }}" [formControl]="state">
        <mat-option *ngFor="let state of states" [value]="state.value">
          {{state.name}}

        </mat-option>
      </mat-select>

      <mat-error *ngIf="state.hasError('required')">
        {{ 'HOME.stateRequired' | translate }}
      </mat-error>
    </mat-form-field>


  </div>
 
  
 
</div>
  </form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger btn-round mt-lg-5">{{ 'HOME.Cancel' | translate }}</button>
  <button mat-button class="btn btn-danger btn-round mt-lg-5" (click)="updateInfo()">{{ 'HOME.submit' | translate }}</button>
</mat-dialog-actions>


